.khan__container {
  position: relative;
  margin: 0 auto;
  width: 80%;
}
.khan__author {
  position: relative;
  margin: 0;
  text-align: left;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title {
  position: relative;
  margin: 0 0 50px 0;
  text-align: left;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.khan__quote {
  position: relative;
  width: 790px;
  margin: 0 0 36px 0;
  text-align: left;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.khan__quote-author {
  position: relative;
  margin: 0 0 10px 0;
  text-align: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.khan__quote-author-subline {
  position: relative;
  margin: 0 0 68px 0;
  text-align: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
.khan__book-container {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
}
.khan__book-pic {
  margin-right: 48px;
  height: 620px;
  width: 608px;
  object-fit: cover;
  object-position: top;
}
.khan__buy-link {
  text-align: left;
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
